
.notification {
  color: black;
  background: #aaa;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.success {
  background: green;
}

.notification.error {
  background: red;
  color: #fff;
}
