{
  "env": {
      "es6": true,
      "node": true,
      "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off",
    "semi": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "eol-last": [2, "always"],
    "indent": [2, 2, {"SwitchCase":1}]
  }
}
